body {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  height: 100%;

  max-width: 100%;
  width: 100%;
  min-width: 250px;
  margin: 0 auto;
  //   width: 300px;
  //   flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.quizContainer {
  // padding: 5px;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.buttonContainer {
  padding: 5px;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.button {
  margin: 0 20px;
  width: 100px;
  height: 50px;
  // background: #494949;
  // background: #f2e863;
  // border-radius: 50%;
  // flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

// .submitAnswerButton {
//   background: #f2e863;
//   border-radius: 30%;
//   width: 50px;
//   // background: #EAF2E3
// }

.question {
  font-size: 10em;
  height: 200px;
  padding: 1px;
  color: #494949;
  //   border: solid;
  align-items: center;
}

.flexCol {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.answersContainer {
  // margin-top: 30px;
  padding: 0;
  margin-top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  // width: calc(100% - 20px);
  align-items: center;
}

.resultList {
  list-style-type: none;
}

@mixin answer {
  list-style-type: none;
  border-radius: 20px;
  border: solid;
  border-width: 2px;
  font-size: 3em;

  text-align: center;
  width: 250px;
}

.singleAnswer {
  @include answer;
}
.wrongAnswer {
  @include answer;
  background: #f25757;
}
.selectedAnswer {
  @include answer;
  background: #f2e863;
}
.correctAnswer {
  @include answer;
  background: #36f5d5;
}

.answerContainer {
  padding: 0;
  cursor: pointer;
  flex-direction: column;
}

// .maisubmitAnswerButtonn {
//   //   border: solid;
//   flex: 1;
//   font-size: 12em;
//   color: #494949;
//   //   border: solid;
//   align-items: center;
// }

.answerUl {
  padding: 0;
}

.optionList {
  flex: 1;
  display: flex;
  flex-direction: row wrap;
  //   //   justify-content: space-evenly;
  justify-content: center;
  //   border-top: solid 1px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  //   flex-flow: column;
}
.option {
  font-size: 2em;
  margin: 10px;
  border-radius: 30px;
  border: solid;
  border-width: 2px;
  //   width: 100px;
  //   flex-grow: 2;

  vertical-align: middle;
  padding: 5%;
  //   height: 80px;

  //   flex-direction: row wrap;
}
